# Proyecto de referencia (no subir)
JFRG_API/

# Dependencias
node_modules/

# Build
dist/

# Variables de entorno
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage
coverage/
